@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script&family=Pacifico&family=Tapestry&display=swap');

body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.5);
}
.headIng{
    width: 100%;
    margin-top: 0px;
    font-size: 29px;
    font-family: 'Tapestry', cursive;
    font-weight: bold;
}
.head2{
    font-size: 22px;
    font-family: 'Lobster', cursive;
}
#backbtn{
    background: red;
    float: right;
    margin-top: 15px;
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 23px;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Lobster' , cursive;
    border-width: 3px;
    border-top-color: rgb(255, 137, 137);
    border-bottom-color: rgb(255, 76, 76);
    border-left-color: rgb(255, 189, 189);
    border-right-color: rgb(193, 0, 0);
}
#backbtn:hover{
    background: blue;
    border-top-color: rgb(137, 137, 255);
    border-bottom-color: rgb(59, 59, 255);
    border-left-color: rgb(206, 206, 255);
    border-right-color: rgb(0, 0, 151);
}
#null{
    visibility: hidden;
    background: red;
    float: left;
    margin-top: 15px;
    padding: 5px;
    font-size: 23px;
    padding-right: 20px;
    padding-left: 20px;
    border-width: 3px;
}
#button{
    font-size: 21px;
    border-width: 3px;
    background-image: linear-gradient(to right,rgb(255, 255, 154), rgb(146, 255, 146),rgb(172, 232, 255), rgb(151, 151, 255), rgb(255, 145, 204), rgb(255, 95, 242));
    border-image:linear-gradient(to right,rgb(255, 255, 0), rgb(0, 254, 0),rgb(0, 183, 255), rgb(43, 43, 255), rgb(255, 66, 167), rgb(255, 11, 235)) 1;
    color: black;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Oleo Script', cursive;
}
#button:hover{
    background-image: linear-gradient(to left,rgb(255, 255, 154), rgb(146, 255, 146),rgb(172, 232, 255), rgb(151, 151, 255), rgb(255, 145, 204), rgb(255, 95, 242));
    border-image:linear-gradient(to left,rgb(255, 255, 0), rgb(0, 254, 0),rgb(0, 183, 255), rgb(43, 43, 255), rgb(255, 66, 167), rgb(255, 11, 235)) 1;
}
#i{
    font-family: 'Oleo Script', cursive;
    margin: 10px;
    border-width: 0px;
    font-size: 23px;
    background-image: conic-gradient(red,yellow,green,dodgerblue,blue,purple);
    font-weight: 10;
    color: white;
    text-shadow: 3px 3px 4px black;
}
#i:hover{
    background-image: conic-gradient(purple,blue,dodgerblue,green,yellow,red);
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 110px;
}